body {
    margin:0;
    padding:0;   
    background-color:#3b3b32;
}

body *{
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

#agrupar{
    float:left;
    background-color: white;
    margin-left:15%;
    width:70%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 6%;
}

h1{
    margin-left: 5%;
    margin-top: 3%;
    width:90%;
    float:left;
    border-bottom: 2px solid grey;
}