body {
    background-size: cover;
    position:relative;
    padding-bottom: 200px;
    min-height: 100vh;
}

nav {
    margin-top: 5%;
    float:left;
    margin-left:13%;
}
 
nav ul{
    display:flex;
}


nav li {
    list-style: none;
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 5%;
    width: 150px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}

nav li a{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

nav li a:hover{
    text-shadow: 0 0 10px #000;
}

.intermedio {
    margin-left:2%;
    margin-right: 6%;
    color: white;
    text-shadow: 0 0 10px #fff;
    font-weight: 900;
}

#agrupar{
    float:left;
    background-color: white;
    margin-left:15%;
    width:70%;
    border-radius: 10px;
    margin-bottom: 5%;
}


#cabecerasection{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 2px solid #D1D1D1;
    float:left;
    margin-bottom: 2%;
}

h1{ 
    width:30%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    float:left;
    font-weight: 200;
    margin-bottom: -0.2%;
    margin-top: 3%;
}