body {
    margin:0;
    padding:0;    
}

body *{
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

/**************************************/
/***********  CABECERA ****************/
/**************************************/
#agrupar_imagenes_login{
    width:60%;
    float:left;
    background: radial-gradient(#3b3b3b, #121212);
    height: 1000px;
}


#portada_imagenes{
    width:80%;
    overflow:hidden;
    float:left; 
    margin-left: 15%; 
}

#portada_imagenes ul{
    padding:0;
    display:flex;
    width:400%;
    margin:0;
    animation: cambio 40s linear infinite;
    
}

#portada_imagenes li{
    list-style:none;
    width:100%; 
    overflow:hidden;  
}


#portada_imagenes ul li img{
    width:100%;
    height: 900px; 
    margin-top: 5%;
}



@keyframes cambio{
    0%{margin-left:0;}
    20%{margin-left: 0;}

    25%{margin-left:-100%;}
    65%{margin-left:-100%;}

    70%{margin-left:-200%;}
    95%{margin-left:-200%;}

    99%{margin-left:-300%;}
    100%{margin-left:-300%;}
}

#agrupar_login{
    background: radial-gradient(#3b3b3b, #121212);
    float:left;
    width:40%;
    height: 1000px;
}

#tituloPrinci{
    float:left;
    width:80%;
    margin-left: 10%;
    margin-top: 30%;
    color:white;
    text-shadow: 0 0 10px #fff;
}

#nombre{
    text-align: center;
    width:100%;
    font-size: 900%;
    margin-top: -25%;
    font-family: 'Times New Roman';
}

#slogan{
    text-align: center;
    width:100%;
    margin-top: -15%;
    margin-bottom: 10%;
    font-family: 'Times New Roman';
}

#formularioregistro{
    border-end-start-radius:5px;
    border-end-end-radius:5px;
    border-start-end-radius:5px;
    float:left;
    width:50%;
    margin-left: 25%;
    margin-top: 10%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.3);
}

#registro{
    margin-top: -24%;
    margin-bottom: 10%;
    height: 40px;
    width: 40%;
    padding-left: 7%;
    padding-top: 2%;
    margin-left: -9.5%;
    margin-bottom: 15%;
    color:white;
    font-size: x-large;
    border-start-start-radius:5px;
    border-start-end-radius:5px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
    font-family: 'Times New Roman';
}

#registro:hover{
    text-shadow: 0 0 10px #fff;
}

.icono{
    width:20%;
    float:left;
    background-color: black;
    border-start-start-radius:5px;
    border-end-start-radius:5px;
    height: 40px;
}


#name{
    width:80%;
    border-start-end-radius:5px;
    border-end-end-radius:5px;
    height: 40px;
    border:1px solid black;
    margin-bottom: 4%;
    float:left;
    font-family: 'Times New Roman';
}

#email{
    width:80%;
    border-start-end-radius:5px;
    border-end-end-radius:5px;
    height: 40px;
    border:1px solid black;
    margin-bottom: 4%;
    float:left;
  
    font-family: 'Times New Roman';
  
}

#password{
    width:80%;
    border-start-end-radius:5px;
    border-end-end-radius:5px;
    height: 40px;
    border:1px solid black;
    margin-bottom: 4%;
    float:left;
    font-family: 'Times New Roman';
}

#password-confirm{
    width:80%;
    border-start-end-radius:5px;
    border-end-end-radius:5px;
    height: 40px;
    border:1px solid black;
    margin-bottom: 4%;
    float:left;
    font-family: 'Times New Roman';
}

#botonregistrar{
    clear:both;
    float:right;
    margin-top: 20%;
    margin-bottom: 10%;
    padding:3%;
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
    font-family: 'Times New Roman';
    border-style: none;
    font-size: x-large;
    border-radius: 5px;
    padding-left: 6%;
    padding-right: 6%;
    -webkit-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}

#botonregistrar:hover{
    text-shadow: 0 0 10px #fff;
}

#apartadovolverlogin{
    margin-bottom: 15%;
    float:left;
    width:100%;
}

#textovolverlogin{
    float:left;
    text-align: right;
    margin-top: 0%;
    color:white;
    width:70%;
    padding-right: 2%;
}

#anclavolverlogin{
    float:left;
    width: 30%;
    text-align: left;
    color:white;
    text-shadow: 0 0 2px #fff;
}